.home-page {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
  justify-items: end;

  .homepage-text-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .home-title {
      font-size: 5rem;
      font-weight: 600;
      color: black;
      line-height: 7rem;
      text-align: left;
      font-family: 'Poppins', sans-serif;
      position: relative;

      .underline-header {
        position: absolute;
        bottom: 45%;
        width: 30%;
      }
    }

    .home-description {
      font-size: 1.5rem;
      font-weight: 400;
      color: black;
      text-align: left;
      line-height: 2.25rem;
      font-family: 'Poppins', sans-serif;
      max-width: 36rem;
    }

    .desktop-button {
      .explore-tours-btn {
        background-color: #ed6c02;
      }
    }
  }

  .home-images {
    display: flex;
    align-items: center;

    .home-background {
      position: absolute;
      top: -20%;
      right: -50%;
      width: 91%;
      height: 70rem;
    }

    .backline {
      position: absolute;
      top: -10%;
      right: 0;
    }
  }
}
